
div{
	font-family: Oswald;
}
.jumbotron {
	
	background-image: url("assets/images/blk200.gif");
	/*background-size: 100%;*/
	color: #ffffff;

	
}

h1 {
	font-family: Oswald;
	color: #ffffff;


}


#year-input {
	color: #000000;
}